.container {
  width: 80%;
  margin: 0 auto;
  background: red;
}

nav li {
  display: inline;
  text-align: center;
}

nav {
  text-align: center;
  margin: 0 auto;
  background-color: blue;
}

nav li a {
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: blue;
}


.red {
  color: red;
}

.active {
  font-weight: bold;
}

header nav ul li





